div#box{

  background-color: rgba(5, 72, 35, 0.223);
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  line-height: 30px;
  
  
}

ion-toolbar{
  --background: aqua;
  --color: black;
}

#btn10{
  margin-left: 30px;
  margin-right: 30px;
}

ion-card {
  --background: #000;
  --color: #9efff0;
}

.item-card{
  --background: rgb(3, 0, 43);
  --color: rgb(255, 255, 255);
}

.input{
  --border-radius: 10px;
  --background: rgb(14, 0, 53);
  --padding-start: 10px;
  --placeholder-color: rgb(219, 95, 0);
  --padding-top: 3px;
}